DB_USER=postgres
DB_PASSWORD=postgres

GLOBALPING_API_KEY=your_globalping_api_key
GLOBALPING_API_KEY2=
GLOBALPING_API_KEY3=
GLOBALPING_API_KEY4=
GLOBALPING_API_KEY5=
GLOBALPING_API_KEY6=
GLOBALPING_SECRET_KEY=your_globalping_secret_key
PSI_API_KEY=your_pagespeed_insights_api_key
