.container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    border-radius: var(--border-radius-sm);
    white-space: nowrap;

    &:hover {
        text-decoration: none;
    }
}

.ripple {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-weight: 500;
    color: #fff;
    border-radius: var(--border-radius-sm);

    &:hover {
        background: var(--color-dark-bg-2);
    }
}
