.buttonGroup {
    display: flex;
    gap: 10px;

	@media (max-width: 830px) {
		gap: 5px;
	}
}

.active {
    background-color: var(--color-primary);

    &:hover {
        background-color: var(--color-primary);
    }
}
