.overviewContainer {
    display: flex;
    background-color: var(--color-dark-bg-1);
    border-radius: var(--border-radius-md);
    margin-bottom: 1rem;
    overflow: hidden;
    min-height: 250px;
    box-shadow: var(--box-shadow);
}

.rightPart {
    flex: 1 1 0;
    min-width: 0;
}

@media (max-width: 830px) {
    .overviewContainer {
        height: auto;
    }
}
